.up{
    margin-top: 8rem;
}

.te{
    margin-left: 38rem;
    border: 2px solid White;
    height: auto;
    width: auto;
}


.icon i{
    font-size: 180px;
    color: rgb(255, 208, 0);
}


.ici{
    margin-left: 5rem;
}


.card img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 5rem;
    margin-top: -3rem;
    
}



.bot{
    border-top: 3px solid rgb(0, 2, 102);
    
    
}

.bot i{
    margin-left: 1rem;
    background: blue;
    color: white;
    padding: 1rem;
    border-radius: 30px;
}

.form{
    margin-top: 3rem;
    height: 800px;
    width: 100%;
    background-image: url(./bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    



}

.message{
    height: 500px;
    width: 700px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 0 5rem 1rem rgb(0, 0, 0);
    border-radius: 0 5rem 0 8rem;
}



.flex{
    display: flex;
}
.message img{
    height: 50px;

}
.message img:hover{
    transform: rotate(360deg);
    transition: all 2s linear;
}


input{
    width: 80%;
    border: none;
    border-bottom: 2px solid rgb(184, 142, 142);
    background: transparent;

}

::placeholder{
    color: rgb(9, 255, 0);
}

.tui iframe{
    margin-left: 2rem;
}


.iconb i{
    font-size: 20px;
    padding: 
    5px;
    background: rgb(172, 172, 172);
    border-radius: 20px;
    
}

